﻿@model Boyner.App.Website.Models.Item.ListViewModel

<section class="container">
    <div class="left">
        <div class="info">Arama</div>
        <div class="search">
            @using (Html.BeginForm("List", "Item", FormMethod.Post, new { id = "formSearch" }))
            {
                @Html.TextBoxFor(model => model.Search, new { Value = Model.Search, Id = Html.IdFor(model => model.Search), @class = "text" })
                @Html.HiddenFor(model => model.Sort.SortingField, new { Id = Html.IdFor(model => model.Sort.SortingField) })
                @Html.HiddenFor(model => model.Sort.SortingDirectionType, new { Id = Html.IdFor(model => model.Sort.SortingDirectionType) })
                <input type="button" value="Ara" onclick="submitSearch();" class="button" />
            }

            Listelenen kayıt adedi: @Model.Items.Count()

            @using (Html.BeginForm("List", "Item", FormMethod.Get, new { id = "FormAll" }))
            {
                <input type="submit" value="Hepsini Getir" class="button" />
            }
        </div>
        <div class="info">
            ÖNEMLİ: Arama kolonları bu proje için 
            <br />
            "Name" ve "Properties" kolonlarıdır.
        </div>
    </div>
    <div class="right">
        <div class="info">Hazır arama! Sorgu üzerine tıklayınız. Arama input'una yazılacaktır.</div>
        <table class="table fastSearch">
            <tr>
                <th>#</th>
                <th>Sorgu</th>
                <th>Açıklama</th>
            </tr>
            <tr>
                <td>1</td>
                <td onclick="useSearch($(this))">"beyaz ceket"</td>
                <td>İçinde hem "beyaz" hem de "ceket" olanlar</td>
            </tr>
            <tr>
                <td>2</td>
                <td onclick="useSearch($(this))">beyaz ceket+</td>
                <td>İçinde mutlaka ceket olanlar ve beyaz olanlar üstte</td>
            </tr>
            <tr>
                <td>3</td>
                <td onclick="useSearch($(this))">beyaz ceket-</td>
                <td>Hiç Ceket olmayan VE beyaz olanlar</td>
            </tr>
            <tr>
                <td>4</td>
                <td onclick="useSearch($(this))">gri lacivert</td>
                <td>İçinde gri VEYA lacivert olanlar</td>
            </tr>
            <tr>
                <td>5</td>
                <td onclick="useSearch($(this))">gri lacivert- füme-</td>
                <td>İçinde gri olan ama lacivert ve Füme olmayanlar</td>
            </tr>
            <tr>
                <td>6</td>
                <td onclick="useSearch($(this))">gri lacivert- füme- gömlek-</td>
                <td>İçinde gri olan ama lacivert ve Füme ve GÖMLEK olmayanlar</td>
            </tr>
            <tr>
                <td>7</td>
                <td onclick="useSearch($(this))">gri lacivert- füme- gömlek+</td>
                <td>İçinde Gömlek MUTLAKA olan ama lacivert ve Füme olmayanların GRİ üstte olanları</td>
            </tr>
            <tr>
                <td>8</td>
                <td onclick="useSearch($(this))">"ayakkabı siyah" okul-</td>
                <td>Siyah ve ayakkabı aynı anda olan ama içinde okul olmayanlar</td>
            </tr>
        </table>
    </div>
</section>
