﻿@using Boyner.Core.Model.Entities
@using Boyner.Core.Model.Helpers
@model Boyner.App.Website.Models.Item.ListViewModel
@{ var id = 1;}

@Html.Partial("_PartialSearch", Model)@*This Partial usage is not programmatically necessary. Only for a bit better code readability.*@

<div class="table">
    <div class="info">>>>> Sırlama için başlıklara tıklayabilirsiniz <<<<<</div>
    <table>
        <tr>
            <th>#</th>
            @* Any column can be sorted when you add these. Whic sorting field will dynamically taken care of by the Repository*@


            <th class="sortable" onclick="sort($(this));" columnName="@(PropertyHelper.GetPropertyName<Item>(c => c.ProductId))">ProductId</th>
            <th class="sortable" onclick="sort($(this));" columnName="@(PropertyHelper.GetPropertyName<Item>(c => c.VariantId))">VariantId</th>
            <th class="sortable" onclick="sort($(this));" columnName="@(PropertyHelper.GetPropertyName<Item>(c => c.ColorGroup))">ColorGroup</th>
            <th class="sortable" onclick="sort($(this));" columnName="@(PropertyHelper.GetPropertyName<Item>(c => c.Name))">Name</th>
            <th class="sortable" onclick="sort($(this));" columnName="@(PropertyHelper.GetPropertyName<Item>(c => c.Barcode))">Barcode</th>
            <th class="sortable" onclick="sort($(this));" columnName="@(PropertyHelper.GetPropertyName<Item>(c => c.Price))">Price</th>

            <th>Properties</th>
            @* We did not cover Properties for sorting because since its an array within the database, it requires special care but we can currently ignore*@
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@(id++)</td>
                <td>@item.ProductId</td>
                <td>@item.VariantId</td>
                <td>@item.ColorGroup</td>
                <td>@item.Name</td>
                <td>@item.Barcode</td>
                <td>@item.Price</td>
                <td>@string.Join(" | ", item.Properties)</td>
            </tr>
        }
    </table>
</div>

@Html.Partial("_PartialScript", Model)@*This partial usage is not programmatically necessary. Only for a bit better code readability.*@