﻿@model Boyner.App.Website.AppCode.Base.ViewModelBase

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Assets/css")
	@Scripts.Render("~/Assets/js")
</head>
<body>
	@RenderBody()
</body>
</html>
