﻿@using Boyner.Core.Model.Enums
@model Boyner.App.Website.Models.Item.ListViewModel

@if (Model.Sort != null)
{
    <script>
        $().ready(function () {
            var sortingField = '@(Model.Sort.SortingField)';
            var sortingElem;

            $('.sortable').each(function() {
                $(this).removeClass('arrow-up');
                $(this).removeClass('arrow-down');
                if ($(this).attr('columnName') === sortingField) {
                    sortingElem = $(this);
                }
            });

            if (sortingElem != null) {
                var isAscending = ('@(Model.Sort.SortingDirectionType == SortingDirectionType.Ascending)' === 'True');
                if (isAscending) {
                    sortingElem.addClass('arrow-up');
                }
                else {
                    sortingElem.addClass('arrow-down');
                }
            }
        });
    </script>
}
<script>

    function sort(elem) {
        var elemForm = $('#formSearch');
        var elemSortingField = $('#@(Html.IdFor(model => model.Sort.SortingField))');
        var elemSortingDirection = $('#@(Html.IdFor(model => model.Sort.SortingDirectionType))');

        if (elemSortingDirection.val() === '@(SortingDirectionType.Ascending)') {
            elemSortingDirection.val('@(SortingDirectionType.Descending)');
        } else {
            elemSortingDirection.val('@(SortingDirectionType.Ascending)');
        }

        elemSortingField.val(elem.attr('columnName'));

        elemForm.submit();
    }
    function submitSearch() {
        var elemForm = $('#formSearch');
        var elemSortingField = $('#@(Html.IdFor(model => model.Sort.SortingField))');
        var elemSortingDirection = $('#@(Html.IdFor(model => model.Sort.SortingDirectionType))');

        elemSortingField.val('');
        elemSortingDirection.val('');
        elemForm.submit();
    }
    function useSearch(elemSearch) {
        var elemSearchText = $('#@(Html.IdFor(model => model.Search))');
        elemSearchText.val(elemSearch.text());
    }
</script>