﻿body {
	font-family: Helvetica, Arial, sans-serif;
}
div {
	text-align: center;
}
div.search {
	line-height: 40px;
}
input.text {
    width: 300px;
    height: 20px;
}
input.button {
    padding: 5px;
    border: 1px solid #333333;
    box-shadow: none;
 }
div.table {
	width:100%;
	height:100%;
	padding-top: 50px;
}
table {
	margin: 0 auto;
	color: #333;
	width: 80%;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; cursor: pointer; min-width: 30px;  white-space: nowrap; }

table.fastSearch td:nth-child(2) {
    background-color: antiquewhite;
}
table.fastSearch td:nth-child(2):hover{
        background-color: chartreuse;
    } th {  
	background: #F3F3F3;
	font-weight: bold;
} th:hover {
		background-color: #c5c5c5;
	} td {  
	background: #FAFAFA;
	text-align: center;
} th.arrow-down:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f00;
} th.arrow-up:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f00;
} .container {
    text-align: center;
    width: 100%;
} div.left {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    vertical-align: top;
} div.right {
    display: inline-block;
    padding: 10px;
    margin: 15px;
} div.info {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}